*.pyc
*pycache*
results/*
*/results/*
*/*/results/*
*/*/*/results/*
__pycache__/

*.egg-info/*
*.eggs/


CMakeCache.txt
CMakeLists.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

build
devel
