
tensorboardX==1.8
tensorflow-gpu==2.2.0

gym==0.17.1

cpprb==8.4.2
joblib==0.14.1
matplotlib==2.2.3

pyyaml==5.3.1

rospkg==1.2.4

pyquaternion==0.9.5

scipy==1.4.1

#torch==1.6.0+cu101 --find-links https://download.pytorch.org/whl/torch_stable.html
#torchvision==0.7.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html

#dgl-cu101 -f https://data.dgl.ai/wheels/repo.html

# Install RVO library from https://github.com/sybrenstuvel/Python-RVO2
#Step 1: git clone https://github.com/sybrenstuvel/Python-RVO2.git
#Step 2 :Run pip install -r requirements.txt to install the tested version of Cython, or run pip install Cython to install the latest version.
#Step 3: Run /usr/bin/python3.6 setup.py build to build. 
# If you encounter fatal error: Python.h: No such file or directory, check if /usr/include/python3.6m exists. If python3.6m doesn't exists inside include folder, python3.6-dev has to be installed again. But python3.6-dev for Ubuntu16.04 is not available on ppa. Alternatively, if that didn't work, use another image; 10.1-runtime-ubuntu16.04_ros_v1. 